.article-preview--link {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 12.7rem;
  padding: 1.2rem 1rem;
  border: none;
  background-color: hsla(0, 0%, 53%, 1);
  border-radius: 10rem;
  box-shadow: 0 0 0 0 hsl(0, 0%, 0%, 0.2);
  color: var(--color-text-light);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.25s;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
}

.article-preview--link::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--btn-gradient);
  border-radius: inherit;
  content: '';
  opacity: 0;
  transition-delay: 0.15s;
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.article-preview--link:hover {
  box-shadow: 0 0 10px 0 hsl(0, 0%, 0%, 0.2);
}

.article-preview--link:active {
  box-shadow: 0 0 0 0 hsl(0, 0%, 0%, 0.2);
}
