section(class='article-form')
  h2(class='article-form--header') Leave A Comment
  p(class='article-form--msg') Your email address will not be published. Required fields are marked*
  include ../form/form-comment/form-comment.pug