ul(class='social-link')
  li
    a(class='social-link--link' href='#' title='google plus')
      span(class='visually-hidden') our google plus
      include ../../images/icon/social/gp.svg
  li
    a(class='social-link--link' href='#' title='facebook')
      span(class='visually-hidden') our facebook
      include ../../images/icon/social/fb-2.svg
  li
    a(class='social-link--link' href='#' title='twitter')
      span(class='visually-hidden') our twitter
      include ../../images/icon/social/tw.svg
  li
    a(class='social-link--link' href='#' title='instagram')
      span(class='visually-hidden') our instagram
      include ../../images/icon/social/inst.svg