.combobox--options {
  position: absolute;
  z-index: 10;
  top: calc(var(--bl) * 1.625);
  overflow: hidden;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0, 0%, 82%);
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-name: hide-options;
  animation-timing-function: ease-out;
  background: hsl(0, 0%, 97%);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 hsl(0, 0%, 0%, 0.2);
  opacity: 0;
  visibility: hidden;
}

.combobox.is-active .combobox--options {
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-name: show-options;
}

@keyframes show-options {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    visibility: visible;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes hide-options {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  99% {
    opacity: 0;
    transform: translateY(-10px);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
}
