form(class='form-subscribe' id='form-subscribe' method='POST' action='/')
  div(class='form--field')
    div(class='input-bg')
      input(id='email' type='text' inputmode='email' placeholder=' ' required name='email')
      label(for='email') Email
    div(class='error' role='status' aria-live='polite' data-error='email')
  button(class='btn' type='submit') discover