ul(class='footer-nav')
  li
    a(class='footer-nav--link' href='./index.html') Home
  li
    a(class='footer-nav--link' href='./about.html') About Us
  li
    a(class='footer-nav--link' href='./blog.html') Blog
  li
    button(class='footer-nav--link' data-modal='coin' type='button') Sell
  li
    a(class='footer-nav--link' href='./contact.html') Contact Us