@import './article--txt-img.css';

.article--txt {
  max-width: calc(75rem + var(--fluid-h-sm) * 2);
  padding: 0 var(--fluid-h-sm);
  margin: var(--bl) auto;
}

.article--txt p {
  margin-bottom: calc(var(--text-fluid-md) * 1.75);
  font-size: var(--text-fluid-md);
  line-height: 1.75;
  text-align: left;
}

.article--txt p:last-child {
  margin-bottom: 0;
}
