.review--rating {
  display: flex;
  flex-direction: row;
  margin-left: -0.3rem;
}

.review--rating span {
  display: inline-block;
  width: 1.9rem;
  height: 2rem;

  /* background-image: url('Images/icon/star.svg'); */
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.0115 10.9408L3.8115 11.8408C3.3115 12.0408 2.7115 11.8408 2.5115 11.3408C2.4115 11.1408 2.4115 11.0408 2.4115 10.8408L2.6115 8.44082C2.6115 8.14082 2.5115 7.94082 2.4115 7.74082L0.8115 5.94082C0.5115 5.54082 0.5115 4.84082 0.9115 4.54082C1.1115 4.44082 1.2115 4.34082 1.4115 4.34082L3.7115 3.84082C4.0115 3.74082 4.2115 3.64082 4.3115 3.34082L5.5115 1.34082C5.8115 0.84082 6.4115 0.74082 6.9115 1.04082C7.0115 1.14082 7.2115 1.24082 7.2115 1.34082L8.4115 3.34082C8.5115 3.54082 8.8115 3.74082 9.0115 3.84082L11.4115 4.34082C11.9115 4.44082 12.3115 5.04082 12.1115 5.54082C12.1115 5.74082 12.0115 5.84082 11.9115 5.94082L10.4115 7.74082C10.2115 7.94082 10.1115 8.24082 10.2115 8.44082L10.4115 10.8408C10.4115 11.4408 10.0115 11.8408 9.5115 11.9408C9.3115 11.9408 9.2115 11.9408 9.0115 11.8408L6.8115 10.9408C6.5115 10.8408 6.3115 10.8408 6.0115 10.9408Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='6.9592' y1='-0.870233' x2='7.55686' y2='18.7395' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FD749B'/%3E%3Cstop offset='1' stop-color='%23281AC8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}
