span(class='logo')
  span(class='logo--icon' aria-hidden='true')
    svg(aria-hidden='true' focusable='false')
      use(href='#logo--icon' width='100%' height='100%')
  span(class='logo--text' aria-hidden='true')
    svg(aria-hidden='true' focusable='false')
      use(href='#logo--text' width='100%' height='100%')
  span(class='visually-hidden') Coinbase logo