//- div(class='menu-sell' id='menu-action-sell' aria-hidden='true')
div(class='menu-sell' id='menu-action-sell')
  button(type='button' aria-haspopup='true' aria-expanded='false' aria-controls='sell-actions' id='menu-action-sell-btn') 
    span Sell 
    span Bitcoin/Giftcard
  //- div(id='sell-actions' tabindex='0' role='menu' aria-hidden='true' aria-labelledby='menu-action-sell-btn' aria-activedescendant='')
  div(id='sell-actions' tabindex='0' role='menu' aria-hidden='true' aria-labelledby='menu-action-sell-btn' aria-activedescendant)
    div(id='action-coin' role='menuitem' data-modal='coin') Sell Bitcoin
    div(id='action-card' role='menuitem' data-modal='card') Sell Giftcard

  