.menu-sell [role='menu'] {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 100%;
  width: 14.2rem;
  border: 1px solid hsl(0, 0%, 88%, 100%);
  margin-top: 1.1rem;
  background: var(--bg-light);
  border-radius: 5px;
  cursor: pointer;
  transition-property: opacity, transform, visibility;
}

.menu-sell [role='menu'][aria-hidden='false'] {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0s;
  visibility: visible;
}

.menu-sell [role='menu'][aria-hidden='true'] {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition-delay: 0s, 0.25s, 0.25s;
  transition-duration: 0.25s, 0s, 0s;
  visibility: hidden;
}

.menu-sell [role='menu']::before {
  position: absolute;
  right: calc(10px - 0.3rem);
  display: block;
  width: 1.4rem;
  height: 1rem;
  background: url("data:image/svg+xml,%3Csvg width='14' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23e0e0e0' d='m0.62048,9.5371l6.37952,-8.97532l6.37952,8.97532l-12.75903,0z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: '';
  transform: translateY(-100%);
}
