.modal-box {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 64.4rem;
  align-items: flex-start;
  margin: auto;
  background-color: var(--bg-light);
  border-radius: calc(var(--bl) * 0.75);

  /* transition-duration: 0.25s, 0.25s, 0.25s, 0.25s;
  transition-property: height, min-height, opacity, transform;
  transition-timing-function: ease-in, ease-in, ease-in, ease-in; */
  transition-duration: 0.25s, 0.25s, 0.25s;
  transition-property: min-height, opacity, transform;
  transition-timing-function: ease-in, ease-in, ease-in;
  will-change: min-height;
}

.modal-box-lg {
  max-width: 88.8rem;
}

.modal-wrap[aria-hidden='true'] .modal-box {
  opacity: 0;

  /* transition-delay: 0.5s, 0.5s, 0s, 0s; */
  transition-delay: 0.5s, 0s, 0s;
}

.modal-wrap[aria-hidden='false'] .modal-box {
  opacity: 1;

  /* transition-delay: 0.25s, 0.25s, 0.25s, 0.25s; */
  transition-delay: 0.25s, 0.25s, 0.25s;
}

@keyframes modal-box_show {
  0% {
    opacity: 0.3;
    transform: translateY(-100px) scaleY(0.7);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}
