header(class='header-wrap')
  div(class='header')
    a(class='header--logo' href='/')
      include ../logo/logo.pug
    include ../nav/nav.pug
    include ../menu-sell/menu-sell.pug
    include ../btn/btn-login/btn-login.pug