address(class='footer-contacts-wrap')
  ul(class='footer-contacts')
    li
      span(class='visually-hidden') telephone number
      a(class='footer-contacts--link' href='tel:+234137632128') (+234) 137632128
    li
      span(class='visually-hidden') email
      a(class='footer-contacts--link' href='mailto:Coinbase@yahoo.com') Coinbase@yahoo.com
    li
      span(class='visually-hidden') address
      span Address goes here
    li
      a(class='footer-contacts--link' href='#') Download Our App