.footer-contacts-wrap {
  display: block;
  height: 100%;
  margin: calc(var(--text-xs) / -2) 0;
  color: var(--color-text-gray);
  font-size: var(--text-xs);
  font-style: normal;
  line-height: 2;
}

@media (any-pointer: coarse), (max-width: 48.75em) {
  .footer-contacts-wrap {
    margin: calc((4rem - var(--text-xs)) / -2) 0;
  }
}
