div(class='history-graph')
  div(class='history-graph--stage')
    div(class='history-graph--date') May 2010
    p(class='history-graph--msg').
      Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem. Curabitur aliquam tellus eu nisl suscipit, at vestibulum ex rutrum. 
      Nulla facilisi. Cras ullamcorper pellentesque orci, nec vestibulum nibh.uspendisse
  div(class='history-graph--stage')
    div(class='history-graph--date') May 2017
    p(class='history-graph--msg').
      Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem. Curabitur aliquam tellus eu nisl suscipit, at vestibulum ex rutrum. 
      Nulla facilisi. Cras ullamcorper pellentesque orci, nec vestibulum nibh.uspendisse
  div(class='history-graph--stage')
    div(class='history-graph--date') May 2019
    p(class='history-graph--msg').
      Ut enim mi, mattis at sollicitudin rhoncus, rhoncus eget sem. Curabitur aliquam tellus eu nisl suscipit, at vestibulum ex rutrum. 
      Nulla facilisi. Cras ullamcorper pellentesque orci, nec vestibulum nibh.uspendisse
  span(class='history-graph--continue') To be continue…
  include ./history-graph--tree/history-graph--tree.pug