ul(class='share-link') 
  li(class='share-link--item share-link--item-fb')
    span(class='visually-hidden') share on facebook
    a(class='share-link--link' href='https://www.facebook.com/sharer.php' title='facebook' target="_blank" rel='noopener')
      include ../../images/icon/social/fb.svg
  li(class='share-link--item share-link--item-tw')
    span(class='visually-hidden') share on twitter
    a(class='share-link--link' href='https://twitter.com/intent/tweet' title='twitter' target="_blank" rel='noopener')
      include ../../images/icon/social/tw.svg
  li(class='share-link--item share-link--item-yt')
    span(class='visually-hidden') share on youtube
    a(class='share-link--link' href='#' title='youtube' target="_blank" rel='noopener')
      include ../../images/icon/social/yt.svg