button(class='nav--btn' aria-haspopup='true' aria-expanded='false' aria-controls='menu')
  span(aria-hidden='true')
  span(aria-hidden='true')
  span(aria-hidden='true')
  span(class='visually-hidden') menu