ul(class='footer-foto')
  li(class='footer-foto--item')
  li(class='footer-foto--item')
  li(class='footer-foto--item')
  li(class='footer-foto--item')
  li(class='footer-foto--item')
  li(class='footer-foto--item')
  li(class='footer-foto--item')
  li(class='footer-foto--item')