div(class='table')
  div(class='table-col')
    div(class='table--th') OUR RATES
    div(class='table--tr')
      span(class='table--td table--td-btc') BTC
      span(class='table--td') <span>We Buy @ <span class='mark'>₦<span>350</span>/$</span></span>
      span(class='table--td table--td-100') <span>We Sell @ <span class='mark'>₦<span>370</span>/$</span></span>
    div(class='table--tr')
      span(class='table--td table--td-eth') ETH
      span(class='table--td') <span>We Buy @ <span class='mark'>₦<span>345</span>/$</span></span>
      span(class='table--td table--td-100') <span>We Sell @ <span class='mark'>₦<span>370</span>/$</span></span>
  div(class='table-col')
    div(class='table--th') OUR RESERVES
    div(class='table--tr')
      span(class='table--td table--td-bnk') Bank Transfer
      span(class='table--td') NGN
      span(class='table--td table--td-100') <span class='mark'>3452030300303.24/$</span>
    div(class='table--tr')
      span(class='table--td table--td-btc') Bitcoin
      span(class='table--td') <span class='mark'>399.98</span><span>BTC</span>
    div(class='table--tr')
      span(class='table--td table--td-eth') Ethereum
      span(class='table--td') <span class='mark'>1000.00</span> ETH
  div(class='table-col')
    div(class='table--th') LATEST EXCHANGES
    include ./transfers/transfers.pug
