- 
  let navMenu = [
    {txt: 'home', href: 'index.html'}, 
    {txt: 'about us', href: 'about.html'},
    {txt: 'blog', href: 'blog.html'},
    {txt: 'contact us', href: 'contact.html'}]

nav(class='nav' aria-label='main navigation')
  include ./nav--btn/nav--btn.pug
  ul(class='menu' id='menu')
    each item in navMenu
      li(class='menu--item')
        a(class='menu--link' href=`./${item.href}`) #{item.txt}