include ./person/person.pug
ul(class='team-gallery')
  +person('ceo', 'Amanda Roth')
  +person('ceo', 'Amanda Roth')
  +person('ceo', 'Amanda Roth')
  +person('ceo', 'Amanda Roth')
  +person('ceo', 'Amanda Roth')